<div class="card">
    <div class="card-header py-3 bg-gradient-info">
        <h6 class="m-0 font-weight-bold  text-white">@ViewBag.user 的BMI結果 </h6>
    </div>
    <div class="card-body text-center">

        <div class="bg-info text-white p-3  d-inline-block my-4">
            BMI 分數 :
        </div>

        <div class="bg-success text-white p-3  d-inline-block my-4">
            @ViewBag.BMI
        </div>
        <div class="bg-primary text-white p-3  d-inline-block my-4">
            @ViewBag.result
        </div>


    </div>
</div>
